* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*generics*/
body {
  font-family: 'open-sans', sans-serif;
  font-weight: 700;
  background-color: #2e3440;
}

a {
  text-decoration: none;
  color: grey;
}

.links {
  background-color: #1e90ff;

}

.links a {
  color: #ffff;
}

h3 {
  color: #ffff;
}

.info-footer li {
  font-weight: 200;
  display: flex;
  justify-content: flex-start;
}



/*istruzioni Header*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffff;
}

figure {
  margin-top: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  display: flex;
  gap: 20px;
}


ul li a.active,
ul li a:hover {
  border-bottom: 2px solid #1e90ff;  
}

/*istruzioni jumbo*/
.jumbo {
  height: 40vh;
  background-image: url(./assets/jumbotron.jpg);
  background-size: cover;
}

/* istruzioni lista prodotti */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  padding: 7rem; 
}

.comic-card {
  flex: 0 0 calc((100% / 6) - 15px); 
  padding: 5px; 
  

}

.comic-card img {
  width: 100%;
  height: 70%;
  display: block;
  
}
/*istruzioni Footer*/

.links {
  display: flex;
  min-height: 20vh;
  justify-content: center;

}

.links ul,
li {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.links img {
  width: 50px;
  margin: 0 20px;
}

/*istruzioni info*/

.info-footer {
  position: relative;
  display: flex;
  gap: 4rem;
  background-image: url(./assets/footer-bg.jpg);
  justify-content: center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
}

li h3 {
  margin: 20px;
}

.img-container {
  position: absolute;
  top: -10%;
  bottom: 0;
  left: 65%;
  width: 100%;
  background-image: url(/src/assets/dc-logo-bg.png);
  background-repeat: no-repeat;
}


/*istruzioni footer*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #2e3440;
  min-height: 10vh;

}

footer h3 {
  color: #2e3440;
}

.follow-us {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 20px;
  align-self: center;
  border: 5px solid #1e90ff;
  background-color: transparent;
  color: #ffff;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  ;

}