* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*generics*/
body{
  font-family:'open-sans', sans-serif;
  font-weight: 700;
}
a{
  text-decoration: none;
  color: grey;
}

.jumbo{
  background-color: #1e90ff;
 
}
.jumbo a{
  color: #ffff;
}
/*istruzioni Header*/
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

figure{
  margin-top: 20px;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  display: flex;
  gap: 20px;
}

/*istruzioni Main*/

main{
 
  background-color: #2e3440;
  min-height: 30vh;
}

h2{
  text-align: center;
  padding: 2rem;
}
.jumbo{
  display: flex;
  min-height: 20vh;
  justify-content: center;

}
.jumbo ul, li{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.jumbo img{
  width: 50px;
  margin: 0 20px;
}